<div class="container home">
    <div class="grid grid-cols-12 gap-4 mt-20 md:mt-28">
        <%# Pic %>
        <div class="
                    col-start-3 col-end-11
                    row-start-5 row-end-8
                    md:col-start-1 md:col-end-7
                    md:row-start-1 md:row-end-8
                    lg:col-start-1 lg:col-end-6
                    <%# md:row-start-1 md:row-end-8 %>

        ">

            <%= image_tag 'sq2.jpg', class: 'w-full drop-shadow-xl rounded-sm aspect-square' %>
        </div>

        <%# h1 Mobile %>
        <div class="
                    leading-tight text-center
                    col-start-1 col-end-13
                    row-start-1 row-end-6
                    md:hidden
        ">
            <h1 class="font-['Mont'] drop-shadow-xl">Hi, I'm Martin and I'm a <span class="underline--magical">Web Developer</span></h1>
        </div>
        <%# h1 Tablet %>
        <div class="hidden md:block special-tablet-up
                    leading-tight text-center
                    md:col-start-4 md:col-end-13 md:text-right
                    md:row-start-1 md:row-end-8 place-self-center

                    lg:col-start-1 lg:col-end-13
                    
                    lg:justify-self-stretch
                    
                    
        "> 
            <span class="relative text-6xl lg:text-[80px] font-['Mont'] drop-shadow-xl"><span>Hi, I'm Martin<br>and I'm a <span><span data-text="Web" class="highlight">Web</span><br><span data-text="Developer" class="highlight">Developer</span></span>
            <h1 class="hidden font-['Mont'] drop-shadow-xl">Hi, I'm Martin and<br> I'm a <span data-text="Web" class="">Web</span><span data-text="Developer" class="">Developer</span></h1>
        </div>

        <%# h4 %>
        <div class="
                col-start-1 col-end-13
                row-start-6 row-end-7
        ">
            <h4>I love you asf sfsfs f  sfd fsdafdasd Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, esse?</h4>
        </div>

        <%# Buttons %>
        <div class="
                    col-start-1 col-end-13
                    row-start-7 row-end-8
                    ">
            <div class="w-full flex justify-center gap-4">
                <a href="#" class="btn btn-secondary">Contact me</a>
                <a href="#" class="btn btn-secondary-inverted">My work</a>
            </div>            
        </div>
        
    </div>

</div>





<%# 


<section class="bg-amber-300">
<h1>Full screen and slanted...</h1>
</section>
<section class="bg-white">
<h1>Go ahead...</h1>
</section> 

<section class="bg-gray-200">
    <div class="container">
        <h1>Each section...</h1>
    </div>
</section> %>


<div class="container">
    <h1 class="mobile text-center font-black md:hidden">My Work</h1>
    <h1 class="desktop text-center font-black hidden md:block">sMy Work</h1>
    <div class="relative">
        <span class="inverted">Yes</span>
    </div>
    <p><%= t('.in_progress') %></p>
    <%= link_to "Previous Portfolio", "http://www.martinarce.de", :target => "_blank" %>
    <%= link_to "Github", "https://github.com/divagueame", :target => "_blank" %>
</div>
 
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>