<div class="container home">
    <div class="grid grid-cols-12 gap-4 mt-16 md:mt-28">
        <%# Pic %>
        <div class="
                    col-start-3 col-end-11
                    row-start-5 row-end-8
                    md:col-start-1 md:col-end-7
                    md:row-start-1 md:row-end-8

        ">

            <%= image_tag 'sq.jpg', class: 'w-full drop-shadow-xl rounded-sm aspect-square' %>
        </div>

        <%# h1 %>
        <div class="
                    leading-tight text-center
                    col-start-1 col-end-13
                    row-start-1 row-end-6
                    md:col-start-3 md:col-end-13 md:text-right
                    md:row-start-1 md:row-end-8
        ">
            <h1 class="drop-shadow-xl">Hi, I'm Martin and I'm a <span class="underline--magical" data-content="Web Developer">Web Developer</span></h1>
        </div>

        <%# h4 %>
        <div class="
                col-start-1 col-end-13
                row-start-6 row-end-7
        ">
            <h4>I love you asf sfsfs f  sfd fsdafdasd Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, esse?</h4>
        </div>

        <%# Buttons %>
        <div class="
                    col-start-1 col-end-13
                    row-start-7 row-end-8
                    ">
            <div class="w-full flex justify-center gap-4">
                <a href="#" class="btn btn-secondary">Contact me</a>
                <a href="#" class="btn btn-secondary-inverted">My work</a>
            </div>            
        </div>
        
    </div>

 

<h1 class="text-center font-black">My Work</h1>
<div class="relative">
    <span class="inverted">Yes</span>
</div>
    <p><%= t('.in_progress') %></p>
    <%= link_to "Previous Portfolio", "http://www.martinarce.de", :target => "_blank" %>
    <%= link_to "Github", "https://github.com/divagueame", :target => "_blank" %>
</div>
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 

<br>
oh 