@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kano';
    src: url('Kano.otf');
}
@font-face {
    font-family: 'Mont';
    src: url('Mont-Heavy.otf');
}

@layer base {
    .action-btn {
        @apply fixed top-0 right-2 z-20 opacity-100 rounded-sm translate-x-0 w-12 p-2 h-12; 
    }
    .action-btn-2 {
        @apply w-12 p-2 h-12  absolute top-0 right-0 z-20;
    }
    .action-btn-2 span,
    .action-btn span, {
        @apply bg-slate-800 opacity-100;
        display: block;
        position: absolute;
        border-radius: 52px;
        z-index: 21;
        left: 50%;
        transform: translateX(-50%) scaleX(1);
        height: 3px;
        width: 85%;
        transition: all 340ms ease-in-out;
        transform-origin: center right;
        transition-delay: 120ms;
    }
    .action-btn-2 span:nth-child(1),
    .action-btn span:nth-child(1) {
        top: 30%;
    }
    .action-btn-2 span:nth-child(2),
    .action-btn span:nth-child(2) {
        top: 50%; 
    }
    .action-btn-2 span:nth-child(3),
    .action-btn span:nth-child(3) {
        top: 70% 
    }
    
    .action-btn.inactive span { 
        transition: all ease-in-out 500ms; 
        transform: translateX(-50%) scaleX(0);
    
    } 
  
 
 

 
#content { 
    width: 100%;
    min-height: 100vh;
    transition: 300ms ease all 
}

.blur {
    -webkit-filter: blur(51px);
    -moz-filter: blur(21px);
    -o-filter: blur(21px);
    -ms-filter: blur(21px);
    filter: blur(12px);
}

#menu {
    display: none;
    /* background-color: rgba(250,245,231,.5); */ 
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;  
    text-align: center;
    z-index: 1000;
    overflow:hidden;
    transition: all 5100ms ease
}
#menu.show1 { 
    display: flex;
}
#menu .main {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: fit-content;
}
#menu .main a {
    background-color: rgba(255, 255, 255, .60); 
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    /* top: 100px */
    transform: translateY(1000%);
    /* max-width: fit-content;
    margin: 0 auto;
    position: relative */
    transition: all ease-in-out 400ms
}
#menu.show2 .main a {
    transform: translateY(0%);
    transition: all ease-in-out 400ms
    
}

#menu.show2 h1 {
    /* transform: translateX(-50%) scaleX(1); */
}















    .menu {
        @apply hidden
        fixed
        w-screen h-screen 
        overflow-hidden 
        bg-orange-300
        /* -left-full */
        /* backdrop-blur-2xl */
        opacity-50
        /* backdrop-blur-none */
        transition ease-in-out z-10 duration-700 delay-500
        
    }
    .menu h1 {
        @apply opacity-100

    }
    .menu.active {
        @apply
        hidden
        bg-orange-500
        /* backdrop-blur-2xl */
        opacity-25
        transition ease-in-out duration-700 delay-500 
        /* translate-x-full scale-100 */
    }
    
    .content.inactive {
        @apply
        opacity-75
        /* backdrop-blur-3xl */
        /* transition ease-in-out duration-700 */
        
    }
    
    .content {
        @apply transition ease-in-out duration-700 
        /* opacity-100  */
        /* backdrop-blur-none */
        /* backdrop-blur-3xl */
        relative 
        overflow-x-hidden
        w-screen;  
    } 

html, body {
                width: 100%;
                    height: 100%; 
                    overflow-x: hidden;
                    /* position: absolute; */
                    /* top: 0; */
                    /* left: 0; */
}
    html, body, * {
        font-family: Kano, system-ui, sans-serif;
        padding: 0;
        margin: 0;
        /* font-family: Mont, system-ui, sans-serif; */
    } 
    h1 {
        @apply text-4xl leading-tight md:text-5xl lg:text-7xl;
    }
    h2 {
        @apply text-6xl;
    }
    h3 {
        @apply text-4xl;
    }
    h4 {
        @apply text-xl leading-tight;
    }
    h5 {
        @apply text-xl;
    }
    h6 {
        @apply text-lg;
    }
    a:hover {
        @apply font-bold;
    }
    button {
        @apply
        rounded-sm
        px-3 py-1 text-lg
        md:px-2 md:py-4
    }
    .btn-primary {
        @apply relative bg-amber-300 hover:bg-amber-100 border-2 border-black drop-shadow-sm;
        /* box-shadow: #000000 1px 1px 0px 0px,
                #000000 2px 2px 0px 0px,
                #000000 3px 3px 0px 0px,
                #000000 4px 4px 0px 0px,
                #000000 5px 5px 0px 0px; */
            } 
            .btn-primary-inverted {
                @apply relative bg-amber-300 hover:bg-amber-100 border-2 border-black;
                /* box-shadow: #000000 1px 1px 0px 0px,
                #000000 2px 2px 0px 0px,
                #000000 3px 3px 0px 0px,
                #000000 4px 4px 0px 0px,
                #000000 5px 5px 0px 0px; */
            }
            .btn {
                @apply py-1 px-4 rounded-sm hover:-translate-y-[2px] border border-black hover:font-normal drop-shadow-4xl;
                transition: all ease-out 220ms;
            }
            .btn-secondary {
                @apply border-black bg-amber-300 hover:bg-amber-400 hover:text-gray-900
            }
            
    .btn-secondary-inverted {
        @apply border-black bg-white relative drop-shadow-4xl hover:font-normal hover:bg-amber-300 ;
    }
    
    
}






/* .inverted::before {
    content: 'Web Developer';
    position: absolute;
    top: 8px;
    right: -1px;
    color: rgba(62, 98, 255, 0);
    transform: scale(1.02) rotateZ(1deg);
    background-color: rgb(0, 0, 0);
    z-index: -1;
    @apply drop-shadow-xl;
} */
/* [data-content]:after, */

/* [data-content]:before {
    content: attr(data-content);
} */

.underline--magical {
    /* background-image: linear-gradient(120deg, #fbff00 0%, #ffe600 100%); */
    background-image: linear-gradient(120deg, rgb(252, 211, 77, 1), rgba(252, 211, 77, 1));
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    position: relative;
}


/* .inverted:before, */
/* .inverted:before {
    @apply absolute;
    max-height: 18px;
    bottom: 0;
    left: -1px;
    color: rgba(62, 98, 255, 0);
    transform: scale(1.02) rotateZ(-.5deg);
    background-color: rgb(255, 238, 0);
    z-index: -2; 
} */
/* .inverted:after {
    background-color: rgb(0, 0, 0);
    top: 18px;
    right: -21px;
} */
/* 
.inverted {
    @apply relative drop-shadow-xl;
    z-index: 1;
}  */

/* Profile Picture */ 
 
/* body { */
 /* transform: translateX(0); */
 /* overflow-x: hidden; */
 /* transition: all 450ms ease-in-out; */
 /* position: relative; */
/* } */
/* body.menu-active { */
    /* transform: translateX(100%); */
    /* transition: all 450ms ease-in-out; */
/* } */
 
.menu-mobile { 
    /* overflow: hidden; */
    transition: all 350ms ease-in-out;
    transform: translateX(-150%) scale(1.5);
}
.menu-mobile.menu-active {  
    transition: all 500ms ease-in-out;  
    transform: scale(1) translateX(0%);
}
 
nav {
    background-color: rgba(255, 255, 255, .9);  
}

nav a {
    @apply py-3 text-gray-700 hover:text-black font-light hover:font-light md:text-lg relative;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:before,
nav a:after {
    @apply bg-gray-700;
    content: '';
    position: absolute;
    bottom: 12px;
    left: 0; right: 0;
    height: 1px;
}
nav a:before {
    opacity: 0;
    transform: translateY(-15px);
    transition: all 0 ease-in;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
}
nav a:after {
    opacity: 0;
    transform: translateY(4px);
    transition: all 0 ease-in;
    transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
}

 


a:hover:before,
a:hover:after,
a:focus:before, 
a:focus:after {
        opacity: 1;
        transform: translateY(0);
    }


a:hover:before, 
a:focus:before { 
    
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .3s;
}



a:hover:after,
a:focus:after {
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .3s;
}



















/* Init effect */
.overlay-bg {
    position: fixed;
    z-index: 2222;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    animation-name: overlayBgAnimations;
    animation-duration: 3s;
    animation-timing-function: ease;
    height: 0vh;
    overflow: hidden;
    top: 0;
}
.overlay {
    position: fixed;
    width: 100vw;
    background-color: rgb(255, 222, 132);
    bottom: 100%;
    height: 100%;
    animation-name: overlayAnimations;
    animation-duration: 3s;
    animation-timing-function: ease;
}
@keyframes overlayBgAnimation {
    0% {
        height: 100vh;
    }

    12% {
        height: 50vh;
    }

    50% {
        height: 75vh;
    }

    80% {
        height: 20vh;

    }

    100% {
        height: 0vh;
    }
}



@keyframes overlayAnimation {
    0% {
        bottom: -40%;
    }

    80% {
        bottom: 10%;
    }

    100% {
        bottom: 100%;
    }
}



 

section {
    width: 100%;
    /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
    -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    -ms-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    /*   And finally we account for the slope to make sure each section can occupy the full window... I added 10vw just to give it a little extra padding */
    min-height: calc(100vh - (110vw/-12));
}

section:not(:last-child) * {
    -webkit-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    -ms-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    margin-top: calc(50vw/-12);
}

section:last-child {
    position: relative;
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    margin-top: calc(100vw/-12);
    padding-top: calc(100vw/12);
    min-height: 100vh;
    z-index: -1;
}



 

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
