<!DOCTYPE html>
<html>
  <head>
    <title> Martin Arce | Web Developer </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="menu">
  <h1>menu here</h1>
  </div>
  <div class="action-btn"><h1>XX</h1></div>
  <div class="content">CHIKI
    <h1>CONTENT here</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolores minima reprehenderit assumenda doloremque nostrum aliquam porro dolor, nulla eius error reiciendis, minus eligendi nemo veniam non a atque placeat! Beatae fuga aperiam porro sapiente amet. Incidunt sed tempore quibusdam reprehenderit quisquam ab ea deserunt numquam fugit, nemo unde quos ut inventore hic id facere ad perferendis. Voluptas, officia ex! Voluptates, nisi voluptatum ex et alias quia ipsum eius nemo sint corporis voluptate, a assumenda, aliquid illo. Est ipsa, nihil fuga doloremque eius nulla rerum, velit eveniet, fugiat pariatur voluptatum sint excepturi non quam dolore enim odit expedita blanditiis! Blanditiis nemo quae facere ipsa! Labore eius qui quos dolorum. Dicta vero dolor nihil expedita autem quasi ipsa nemo recusandae suscipit dolore voluptas tenetur est repellendus rem ullam omnis inventore maiores veritatis eos neque doloribus, possimus numquam optio. Molestiae minus perspiciatis cumque qui autem animi. Eius laboriosam ipsum, suscipit blanditiis aliquam voluptates atque tempora quas dolores dolorem quae possimus laborum odit incidunt tenetur dolorum inventore ex. Quia voluptas facere deleniti commodi, laboriosam consequatur ullam harum vero non accusantium libero numquam velit corporis ab minus illum fugiat fugit quod debitis perferendis. Officiis sint voluptas deserunt repudiandae aliquam. Totam, doloremque magnam. Repellat facilis necessitatibus rerum nihil perferendis error quos similique, sit quaerat aut! Inventore quo itaque odio minima animi temporibus voluptates asperiores aliquid quibusdam impedit ad debitis ut, unde suscipit fugit ullam sapiente facere ipsa quaerat amet reiciendis, officiis doloremque illum totam. Ipsa maiores nobis tenetur impedit blanditiis ratione odit vero excepturi aspernatur voluptatem hic, nemo quos saepe nihil iusto doloremque praesentium repellendus facere ea. Soluta consequuntur iusto placeat sunt magnam, alias culpa beatae nihil minus eum veritatis, tempora recusandae quos ea commodi? Repellendus repellat neque ipsam natus officiis modi iure explicabo quis accusamus optio, temporibus odio deleniti veritatis est recusandae corporis rem fugit placeat debitis necessitatibus sunt commodi. A iure eaque, blanditiis veniam exercitationem dolores cumque pariatur, molestias totam accusamus rem consequatur repellat magni vel animi vitae doloribus laborum dicta quod esse quidem quos, voluptatem nesciunt perspiciatis? Molestiae quis doloribus perferendis quos ad iste saepe expedita explicabo hic, nihil, vel aperiam voluptates exercitationem ut aut, praesentium eligendi architecto quam eaque corrupti voluptatibus sunt. Repellendus sed obcaecati deleniti exercitationem illo, accusamus, quidem harum porro minima incidunt maiores! Consectetur tempora autem ullam saepe voluptates doloremque tempore odit iusto labore distinctio, pariatur, placeat illo atque, at earum quaerat nesciunt minus sed itaque corrupti repudiandae. Veritatis!
    </p>
  </div>
  </body>
</html>

